---
name: CryoSPARC
cluster: "odyssey3" # CUSTOMIZE
attributes:
  modules: null
  cryosparc_license:
    label: "CryoSPARC license ID"
    widget: text_field
    help: |
      Paste your license ID here to get started. Please get your own license ID free of charge for non-profit academic use from <a href="https://cryosparc.com/download" target="_blank">here</a>.
  database_folder:
    help: "Select a directory to store cryoSPARC database and run directories"
    widget: text_field
  cryosparc_user_password:
    label: "cryoSPARC password"
    widget: text_field
    help: |
      Enter a password to use for this cryoSPARC session. Your cryosparc user name will be your FAS RC user name.
  bc_queue:
    label: "Partition"
    value: "test"
    widget: text_field
    help: |
      Partition where to submit your job (--partition).
  custom_memory_per_node:
    label: "Memory Allocation in GB"
    value: <%= defined?(@custom_memory_per_node) ? @custom_memory_per_node : 32 %>
    min: <%= defined?(@custom_memory_per_node_min) ? @custom_memory_per_node_min : 32 %>
    step: 1
    max: <%= defined?(@custom_memory_per_node_max) ? @custom_memory_per_node_max : 373 %>
    widget: number_field
    help: |
      Memory required per node (--mem)
  custom_num_cores:
    label: "Number of cores"
    value: <%= defined?(@custom_num_cores) ? @custom_num_cores : 4 %>
    min: <%= defined?(@custom_num_cores_min) ? @custom_num_cores_min : 2 %>
    step: 1
    max: <%= defined?(@custom_num_cores_max) ? @custom_num_cores_max : 32 %>
    widget: number_field
    help: "Number of Cpus to allocate (--cpus-per-task)"
  custom_num_gpus:
    label: "Number of GPUs"
    value: <%= defined?(@custom_num_gpus) ? @custom_num_gpus : 1 %>
#   min: <%= defined?(@custom_num_gpus_min) ? @custom_num_gpus_min : 1 %>
    step: 1
    max: <%= defined?(@custom_num_gpus_max) ? @custom_num_gpus_max : 4 %>
    widget: number_field
    help: "Number of GPUs to allocate. Must use a GPU-enabled partition if > 0 (--gpus=N)"
  custom_time:
    label: "Allocated Time (expressed in MM , or HH:MM:SS , or DD-HH:MM)."
    value: "<%= defined?(@custom_time) ? @custom_time : '04:00:00' %>"
    widget: text_field
    help: |
      *sbatch -t, --time=\<time\>*
  custom_reservation:
    label: Reservation (Optional)
    widget: text_field
    help: |
      Use this if you have an active reservation and would like to use it to run your job. (--reservation)
  bc_account:
    label: "Slurm Account (Optional)"
    help: |
      Account to charge for this job (--account). This will default to your main account (primary group). More information about <a href="https://docs.rc.fas.harvard.edu/kb/fairshare/#Multiple_Accounts" target="_blank">multiple slurm accounts here</a>.
      
form:
  - modules
  - cryosparc_license
  - database_folder
  - cryosparc_user_password
  - bc_queue
  - custom_memory_per_node
  - custom_num_cores
  - custom_num_gpus
  - custom_time
  - custom_reservation
  - bc_account
  - bc_email_on_started
